body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  /*margin: 0 0 35px;*/
  /*letter-spacing: 1px;*/
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /*color: #42DCA3;*/
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 1.2rem;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
  font-size: 1rem;
  padding: 10px 10px;
  font-weight: 500;
}

.navbar-header {
  padding: 10px 15px;
}

#mainNav.navbar-shrink a {
  color: white;
  font-weight: 500;
}

#mainNav a:hover {
  color: #007fff;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: transparent;
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

@media (max-width: 576px) {
  #mainNav a {
    color: white;
  }
  .nav-left {
    margin-left: 0px;
    padding-left: 0px;
  }

  #mainNav a {
    padding: 10px 15px;
  }

  .navbar-header {
    padding: 10px 15px;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: 100%;
  /*
  height: auto;
  padding: 200px;
  */
  text-align: center;
  color: white;
  background: url("../docs/school.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  padding-top: 35vh;
  font-size: 2.5rem;
  color: #FF5733; /*#FF5A60;*/
}

.masthead .intro-body .brand-subheading {
  font-size: 1.5rem;
  color: #87CEEB; /*#FF5A60;*/
}

.masthead .intro-body .intro-text {
  font-size: 1.5rem;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 5vh;
  }
  .masthead .intro-body .brand-heading {
    font-size: 4rem;
    color: #FF5733;
  }
  .masthead .intro-body .brand-subheading {
    font-size: 2.5rem;
    color: #87CEEB; /*#FF5A60;*/
  }
  .masthead .intro-body .intro-text {
    font-size: 1.75rem;
  }
}

.intro-text {
  color: #cdcdcd;
  font-weight: bold;
}

.btn-circle {
  font-size: 26px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 10px; /*150px;*/
  padding-bottom: 10px; /*150px;*/
  text-align: left;
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 992px) {
  .content-section {
    padding-top: 50px; /*10px*/ /*150px;*/
    padding-bottom: 10px; /*150px;*/
  }
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.side-info {
  padding-top: 100px;
  text-align: center;
}



.jumbotron {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

#user_move_text, #opponent_move_text {
  font-size: 0.75rem;
}

/*
.btn {
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #000000;
  text-decoration: none;
  background-color: transparent;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.btn.active {
  background: #000;
  color: #fff;
  border: 1px solid #000000;
  border-style: solid;
}
*/
.tooltip1 {   
  position: absolute;           
  text-align: center;           
  width: 180px;                  
  height: 80px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.tooltip_team {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold_text {
  font-weight: bold;
}

.plot_title {
  font-weight: bold;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #19388A;
}

.plot_sub_title {
  font-weight: bold;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #19388A;
}

.plot_caption {
  font-size: 11px;
}

.plot_padding {
  padding-top: 30px;
}


.em_text {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}


.footer {
  background-color: black;
  color: white;
  text-align: left;
}

.footer p {
  padding-top: 3vh;
}

.user_card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #F1E0D6;
}

.user_avatar {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #BF988F;
}

.player_icon {
  margin-bottom: 0;
  padding-bottom: 0;
}

.plot_eco_results_legend {
  font-size: 0.75rem;
}

.zero_opacity {
  opacity: 0;
}

.lower_opacity {
  opacity: 0.5;
}
.default_opacity {
  opacity: 1.0;
  border: 1px solid black;
}

.viz_play_single_game {
  background-color: #c0c0c0;
}

.plot_pd_results {
  background-color: #c0c0c0;
}
.plot_ipd_results {
  background-color: #c0c0c0;
}

#match_result {
  height: 30px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
}

#match_verdict {
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
}

#replay_button_div {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#game_play_instruction_text {
  font-size: 1.5rem;
  font-weight: bold;
}

.payoff_score_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.eco_results_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.opponent_strategy_name {
  padding-left: 10px;
}

.plot_eco_results_legend {
  font-size: 1.0rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.article_author {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.article_date {
  opacity: 0.75;
  color: black;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.button {
  /*min-width: 130px;*/
  padding: 4px 2px;
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  color: #000000;
}

.button.active {
  background: #000;
  color: #fff;
}

@media (max-width: 576px) {
  .user_card_human {
    margin-left: 10px;
  }
  .user_card_machine {
    margin-right: 10px;
  }
}

.betray_button {
  margin-right: 20px;
}

/*
.dropdown_menu {
  padding-left: 50px;
  background-color: #f1e0d6;
  font-family: Times New Roman;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #f1e0d6;
  color: black;
  height: 30px;
}

.dropdown {
  background-color: white;
}
*/

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 2px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 2.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

/*
select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
*/